__pycache__/
*.py[cod]
*.egg-info/
*.egg-link
dist/
build/
.eggs/
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/
.tox/
.coverage
htmlcov/
*.egg
pip-wheel-metadata/
.githooks/
uv.lock
kernel-metadata.json
